---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@consts";
import styles from '@styles/home.module.scss';

const allPosts = await getCollection("posts");
allPosts.sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
);

const latestPost = allPosts[0];
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
 

  <div class="">
    <div class={`${styles.hero}`}>
      <a href="/ebook/" class={`${styles.course} dark:border-white`}>
       

        <h2 class="heading">Digital Strategy EBook
        </h2>
        <p>Unlock the secrets of digital marketing for realtors. Our course covers everything from building a strong online presence to mastering lead generation, social, and much more.</p>
        <img src="/redscover.webp" alt="" class="news-cover">

        <span class={styles.ctaSpan}>Get It Here</span>
      </a>

      <a href="/newsletter/" class={`${styles.newsletter} dark:border-white`}>
        <img src="/newslettercover.jpg" alt="" class="news-cover">
        <h2 class="heading">Realty Reach Newsletter</h2>
        <p>Stay informed with the latest tips on enhancing your digital presence, generating leads online, and utilizing technology to streamline your real estate business. Perfect for realtors who want to thrive in the digital age.</p>
        <span class={styles.ctaSpan}>Sign Up Now</span>
     
      </a>

  

      <a href="/posts" class={`${styles.blog} dark:border-white`}>
        <h2 class="heading">Blog</h2>
        <p>Dive into our blog for the latest insights on digital marketing strategies, tech tools, and tips for realtors looking to enhance their online presence and engage with clients more effectively.</p>
        <span class={styles.ctaSpan}>Read More</span>
      </a>
    </div>
  </div>


</BaseLayout>